#root {
  text-align: center;
}

body{
  background-image: url("../../assets/medicina.jpg");
  background-attachment:inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
